[Unit]
Description=Lindroid create disp service
Before=display-manager.service
After=systemd-user-sessions.service systemd-logind.service

[Service]
Type=notify
NotifyAccess=main
Restart=always
RestartSec=1
User=lindroid
LimitRTPRIO=10
LimitMEMLOCK=infinity
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=3
MemoryDenyWriteExecute=no
LimitNOFILE=65536
ExecStart=/usr/bin/create-disp

[Install]
WantedBy=display-manager.service
