[Unit]
Description=Lindroid create disp service
After=sysinit.target

[Service]
Restart=always
RestartSec=1
User=lindroid
ExecStart=/usr/bin/create-disp

[Install]
WantedBy=multi-user.target
